<div [hidden]="videoIsProcessing" #imgContainer class="sonet-slider-image-wrapper uk-margin-top uk-text-center">
    <label style="font-weight: bold">Select Image or Video:</label>
    <div class="file-upload">
        <input id="custom-input" type="file" (change)="fileChangeListener($event)">
    </div>
    <div class="sonet-slider-image">
        <div class="sonet-slider-overlay" [style.opacity]="additionalProperties.finalOpacity"></div>
        <img *ngIf="imgSource && !videoSource" class="sonet-slider-croppedImage" [src]="imgSource"
            [style.width.px]="finalWidth">
        <video *ngIf="videoSource" style="width: 100%" data-uk-video="autoplay: inview" #video controls
            [src]="videoSource"></video>
    </div>
    <div data-uk-grid class="uk-grid-small uk-flex-middle" *ngIf="imgSource || videoSource">
        <div>
            <i class="fa fa-sun-o" aria-hidden="true"></i>
        </div>
        <div class="uk-width-expand">
            <p-slider [(ngModel)]="additionalProperties.opacityValue" [ngModelOptions]="{standalone: true}"></p-slider>
        </div>
    </div>
</div>
<div [hidden]="!videoIsProcessing" class="uk-card uk-card-body uk-width-1-1 uk-flex uk-flex-column uk-flex-middle">
    <div class="uk-card-title">Video is being encoded.</div>
    <div class="loader sonet-loader"></div>
</div>

<div class="uk-margin-top uk-padding@m">
    <form [formGroup]="editSliderItemForm" class="uk-form-stacked">
        <fieldset>
            <!-- Text input-->
            <div class="uk-margin">
                <label class="uk-form-label" for="txtTagTitle">Slide Title:</label>
                <div class="uk-form-controls">
                    <input id="txtTagTitle" formControlName="TagTitle" type="text" placeholder="enter slide title"
                        class="uk-input">
                    <span class="uk-text-muted uk-text-small">Prominent slide title</span>
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="txtTagMessage">Slide Sub-Title:</label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="txtTagMessage" formControlName="TagMessage"
                        placeholder="enter slide sub-title">
                </div>
            </div>

            <!-- Text input-->
            <div class="uk-margin">
                <label class="uk-form-label" for="txtButtonText">Button Text:</label>
                <div class="uk-form-controls">
                    <input id="txtButtonText" formControlName="ButtonText" type="text"
                        placeholder="enter text for a button" class="uk-input">
                    <span class="uk-text-muted uk-text-small">Text for a button when one is needed</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="uk-margin">
                <label class="uk-form-label" for="txtButtonUrl">Button Url:</label>
                <div class="uk-form-controls">
                    <div uk-grid class="uk-grid-small">
                        <div>
                            <select class="uk-select uk-form-width-small" [(ngModel)]="additionalProperties.uriSchema"
                                [ngModelOptions]="{standalone: true}" name="uriSchema">
                                <option value="http://">http://</option>
                                <option value="https://">https://</option>
                                <option value="tel:">tel:</option>
                            </select>
                        </div>
                        <div>
                            <input id="txtButtonUrl" formControlName="ButtonUrl" type="text"
                                placeholder="enter url behind the button" class="uk-input">
                        </div>
                    </div>
                    <span class="uk-text-muted uk-text-small">This url will open when button is clicked</span>
                </div>
            </div>
            <div class="uk-margin-top">
                <label class="uk-form-label">Animation:</label>
                <span class="sonet-slider-static">{{animSelector?.selectedAnimation?.name || 'none' }}</span>
                <div class="uk-margin-top">
                    <app-anim-selector></app-anim-selector>
                </div>
            </div>

            <!-- Advanced -->
            <p-accordion>
                <p-accordionTab [class]="'sonet-slider-advanced'">
                    <p-header>
                        Advanced
                    </p-header>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="txtTagTitleStyle">Title Style:</label>
                        <div class="uk-form-controls">
                            <input id="txtTagTitleStyle" formControlName="TagTitleStyle" type="text" class="uk-input">
                            <span class="uk-text-muted uk-text-small">Extra styles applied to a title</span>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="txtTagMessageStyle">Sub-Title Style:</label>
                        <div class="uk-form-controls">
                            <input id="txtTagMessageStyle" formControlName="TagMessageStyle" type="text"
                                class="uk-input">
                            <span class="uk-text-muted uk-text-small">Extra styles applied to a sub-title</span>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="txtButtonStyle">Button Style:</label>
                        <div class="uk-form-controls">
                            <input id="txtButtonStyle" formControlName="ButtonStyle" type="text" class="uk-input">
                            <span class="uk-text-muted uk-text-small">Extra styles applied to a button</span>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="txtOverlayStyle">Overlay Style:</label>
                        <div class="uk-form-controls">
                            <input id="txtOverlayStyle" formControlName="OverlayStyle" type="text" class="uk-input">
                            <span class="uk-text-muted uk-text-small">Extra styles applied to an overlay</span>
                        </div>
                    </div>
                </p-accordionTab>
            </p-accordion>
        </fieldset>
    </form>
</div>