<div data-uk-grid class="uk-flex-middle">
    <div>
        <a class="uk-text-muted" [(fontPicker)]="selectorFont" #fontSelector [fpWidth]="'320px'" [fpHeight]="'500px'"
            [fpPosition]="'bottom'" [fpSizeSelect]=false [fpDialogDisplay]="'popup'" [fpCancelButton]=true
            [fpUploadButton]=true (fontPickerUpload)="selectFont()"
            [fpUploadButtonClass]="'uk-button uk-button-primary'" [fpUploadButtonText]="'Select'"
            [fpCancelButtonClass]="'uk-button'">
            <span class="fa fa-font uk-text-emphasis uk-margin-small-right" aria-hidden="true"></span>
            <label>{{getFontLabel()}}</label>
        </a>
    </div>    
    <div [hidden]="!font">
        <span class="fa fa-text-width uk-text-emphasis uk-margin-small-right" aria-hidden="true"></span>
        <input class="uk-input sonet-font-size-selector" type="number" placeholder="size"
            [(ngModel)]="fontSize" (ngModelChange)="selectFont()">
    </div>
</div>