<div class="sonet-font-selector-wrapper">
    <a class="sonet-font-selector" [(fontPicker)]="selectorFont" 
        #fontSelector
        [fpWidth]="'320px'" [fpPosition]="'bottom'" 
        [fpSizeSelect]=false
        [fpDialogDisplay]="'popup'" [fpCancelButton]=true 
        [fpUploadButton]=true (fontPickerUpload)="selectFont()" 
        [fpUploadButtonClass]="'uk-button uk-button-primary'" [fpUploadButtonText]="'Select'" 
        [fpCancelButtonClass]="'uk-button'">
        <i class="fa fa-font"></i>
        <p>{{getFontLabel()}}</p> 
    </a>
    <div class="uk-inline" *ngIf="font">
        <span class="uk-form-icon uk-form-icon-flip">{{sizelabel}}</span>        
        <input class="uk-input" type="number" placeholder="size" [(ngModel)]="fontSize" (ngModelChange)="selectFont()">
    </div>
    <!-- <div class="uk-form-controls uk-inline uk-width-1-1"> -->
        <!-- <input class="uk-input" type="number" placeholder="Font size"> -->
    <!-- </div> -->
</div>