::ng-deep .font-picker .button-area{
    justify-content: space-evenly;
    display: flex;
}

::ng-deep .font-picker .button-area button{
    margin-top: .5em;
    margin-bottom: .2em;
}

.sonet-font-size-selector {
    width: 4em;
}